body {
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    display: flex;
    justify_content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
